services:
  mysql:
    image: mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_USER=root
      - MYSQL_PASSWORD=2vaieg01
      - MYSQL_DATABASE=roboticdesk
      - MYSQL_ROOT_PASSWORD=2vaieg01